* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.form-controll {
  display: block;
  width: 600px;
  margin: 40px auto;
}
form > div {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 5px;
  column-gap: 2px;
}
input,
select {
  grid-column: span 2 / span 2;
  padding: 6px;
}

label {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 48px;
}

.genderinput {
  grid-column: span 2 / span 2;
  display: flex;
}
.butSubmit {
  display: block;
  /* grid-column-start: 2; */
  grid-column: span 3 / span 3;
  /* width: 100%; */
}
.butSubmit > button {
  width: 20%;
  padding: 8px;
  border-radius: 8px;
}
